/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
.idea.zip
absher_app.zip
absher_backup_28March2023.zip
app.zip
appRoutesResources.zip
appRoutesResources
assets.zip
fm.zip
haydar_backup_MARCH.zip
resources.zip
resourcesLive.zip
resourcesOld.zip
routes.zip
routesWithRA.zip
storage.zip
